<ul>
  <% @tasks.each do |task| %>
    <li> <p><%= link_to task.title, task_path(task) %> | <%= task.completed %></p><p> <%= link_to "Delete", task_path(task), method: :delete, data: { confirm: "Are you sure? "}  %> </p></li>
  <% end %>
</ul>


<%= link_to "Create new Task", new_task_path %>
